.rcorners5 {
    border-radius: 15px;
    background: #fff;
    margin-left: 0px;
    border: 2px solid #353535;
    margin-top: 0px;
}

.rcorners7 {
    border-radius: 15px;
    background: #fff;
    margin-left: 0px;
    border: 2px solid rgb(216, 4, 85);
    margin-top: 0px;
}